.container{
    margin-top:7%;
    height: 50%;
}
div .card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div .card-header{
    margin:2%;
    background-color: white;
    font-size: 22px;
    text-align: center;
}
div .list-group-item{
    background-color: white;
    border: transparent;
}
input{
    width: 100%;
    text-align: center;
    height: 50px;
    border: 1px solid black;
}
button{
    width: 100%;
    background-color: #3f0d0c ;
    color:white;
    border: transparent;
    height: 40px;
}
.lnk{
    text-align: center;
}
a{
    text-decoration: none;
    color: #d8c3a8;
}
a:hover{
    color: #3f0d0c;
}