.container{
    margin-top:7%;
    height: 50%;
}
div .card{
    background-color: #202225;
}
div .card-header{
    margin:2%;
    color: white;
    text-align: center;
}
div .list-group-item{
    background-color: #36393f;
    border: transparent;
}
input{
    width: 100%;
    text-align: center;
    height: 50px;
    border-color: transparent;
}
button{
    width: 100%;
    background-color: cornflowerblue ;
    color:white;
    border: transparent;
    height: 40px;
}
.lnk{
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color: cornflowerblue ;
}