.container{
    margin-top:5%;
}
div .card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div .card-header{
    font-size:22px;
    background-color: white;
    text-align: center;
}
div .list-group-item{
    background-color: white;
}
div .avr{
    color: white;
    margin-top:3%;
    margin-left: 2%;
    padding: 1%;
    text-align: center;
    background-color: #6610f1;
}
div .txt{
    padding:3%;
    width: 86%;
    margin-top: -2%;
    margin-left: 11%;
    margin-bottom:2%;
    background-color: #ced4da;
    color: #3d0a91;
}
input{
    margin-left: 1%;
    margin-top: 2%;
    padding: 1%;
    width: 84%;
    border: 1px solid lightgray;
}
button{
    margin-top: -15%;
    width: 14%;
    background-color: transparent;
    border: transparent;
    color: #520dc2;
}
#lgt{
    padding: 3%;
    width: 50%;
    color: white;
    background-color: #6610f1 ;
}